# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
storage

# Local Google Apps Script authentication and project binding
.clasprc.json
.clasp.json
credentials.json
